.container {
    
    display: grid;
    background: #000;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto);
    min-width: auto;
    max-width: 500px;
    height: 90vh;
    grid-gap: 1em;
    border: 3px solid;
    border-radius: 15px;    
    padding: 5px;
}


.screen {
    font-family: 'VT323', monospace;
    background: #C1D5BC;
    border-radius: 35px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.container .screen {
    font-size: 5em;
    text-align: right;
    padding-right: 1em;
    padding-top: 4%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(40px, auto);
}

.button {
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
/*    Make more mobile responsive without messing up the screen*/
    grid-auto-rows: 100px;
    background: #515552;
    grid-gap: 1em;
    border-radius: 15px;
}


button {
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 5px #000;
    background: #EDECEA;
    font-family: 'VT323', monospace;
    font-size: 2rem;
    cursor: pointer;

}

button:hover {
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 1px solid;
    background: #f0f0f0;
}

button:active {
    background: #c9c9c9;
    box-shadow: 0 2px #000;
    transform: translateY(4px);
}

#clear, #del, #equals {
/*Going to add some distinguishing features in here some time*/
/*    background-color:red;*/
    
}