.container {
    
    display: grid;
    background: #000;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, 150px);
    min-width: auto;
    max-width: 500px;
    height: 30vh;
    grid-gap: 1em;
    border: 3px solid;
    border-radius: 15px;    
    padding: 5px;
}

.container .screen {
    font-size: 5em;
    text-align: right;
    padding-right: 1em;
    padding-top: 4%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(40px, 60px);
    font-family: 'VT323', monospace;
    background: #C1D5BC;
    border-radius: 35px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-auto-rows: minmax(10px, auto);
    background: #515552;
    grid-gap: 1em;
    border-radius: 15px;
    
}

button {
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 5px #000;
    background: #EDECEA;
    font-family: 'VT323', monospace;
    font-size: 2rem;
    cursor: pointer;

}

button:hover {
    background: #a5a5a5;
    transition: 0.3s;

}

button:active {
    background: #8c8c8c;
    box-shadow: 0 2px #000;
    transform: translateY(4px);
    transition: 0.01s;
}

#equals {
    grid-column: 4;
    grid-row: 4/6;
}

#clear, #equals, #del{
    background: #d87d06;
}

#clear:hover, #equals:hover, #del:hover {
    background: #a86206;
}

#clear:active, #equals:active, #del:active {
    background: #844e07;
}

.nonnum {
    background: #2e2a99;
    border: 1px solid black;
    color: white;
}
.nonnum:hover {
    background: #232070;
    color: white;
}
.nonnum:active {
    background: #12113a;
    
}
